body {
    font-family: Arial, sans-serif;
    background-color: #500808;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #020202;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h2 {
    margin-bottom: 20px;
    color: #dbdada;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #8f8a8a;
}

.input-group input {
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #500808;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
@media (max-width:600px){
    .login-container{
        width: 150px;
        padding: 10px 30px;
    }
    button{
        width: 80%;
    }
    a{
        font-size: 10px;
    }
}
a{
    color: #2886eb;
    font-size: 10px;
    text-decoration: none;
   
}
.PP{
    color: white;
    text-align: end;
    text-decoration: none;
    text-decoration-color: none;
}
