

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0c0c0c;
    color: #dad7d7cc;

}

header {
    background-color: #500808;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size:18px;
}

section {
    padding-left: 150px;
    text-align: center;
}
.media-scroller{
    width: 85%;
    --spacer: 1rem;
    display: grid;
    gap: var(--spacer);
    grid-auto-flow: column;
    grid-auto-columns: 23%;
padding: o var(--spacer) var(--spacer);
    overflow-x: auto;
    overscroll-behavior-inline: contain ;
    scrollbar-width: 0.001;
    

}

.artist {
    
    color: #e6e6e6ce;
    width: 300px;
    grid-template-rows: min-content;
    gap: var(--size-2);
    padding: var(--size-3);
    background: var(--surface-2);
    border-radius: var(--radius-2) ;
    box-shadow: var(--shadow-5);
   
}

.artist img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    inline-size: none;
    object-fit: cover;
   

}
.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--spacer, 1rem);
}
.snaps-inline > *{
    scroll-snap-align: start;
}
.song {
   
    margin: 1em;
    text-align: center;
    color: #e6e6e6ce;
    
    width: 300px;
    grid-template-rows: min-content;
    gap: var(--size-2);
    padding: var(--size-3);
    background: var(--surface-2);
    border-radius: var(--radius-2) ;
    box-shadow: var(--shadow-5);
}

 .song img {
    
    width: 150px;
    height: 150px;
   
    inline-size: none;
    object-fit: cover;
   
   

}
#songs{
    padding: 0;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}
a{
    text-decoration: none;
    color: #e9e7e7de;
}
#DD{
    color: rgb(7, 252, 39);
    /* background-color: #45a049;
    height: 80px;
    width: 80px; */
}
.mp-p1{
    width: 25%;
    display: flex;
    margin-left: 2rem;
}
.mp-p1-img{
    height: 50px;
    width: 50px;
    padding: 0.4rem;
    transition: 0.5s;
}
.mp-p1-img:hover{
    /* height: 55px;
    width: 55px; */
    box-shadow: 0 2px 9px #232323;
    cursor: pointer;
}

.mp-p1-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1.2rem;
    /* margin-top: 1.2rem; */
}
.mp-p1-icons i{
    margin-left: 0.7rem;
}
.mp-p1-texts{
    margin-left: 1.2rem;
    margin-top: 1.2rem;
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    
}
.mp-p1-artist{
    font-size: 0.75rem;
    opacity: 0.75;
    margin: 0;
    cursor: pointer;
}
.mp-p1-title{
    margin: 0;
    font-weight: 600;
    cursor: pointer;

}
.mp-p1-singer{
    font-size: 0.75rem;
    opacity: 0.75;
    margin: 0;
    cursor: pointer;
}
.mp-p1-song{
    margin: 0;
    font-weight: 600;
    cursor: pointer;
}
.mp-playback{
    width: 50%;
}
.music-icons{
    height: 1.5rem;
    margin-right: 3.5rem;
    opacity: 1;
}
.music-icons:hover{
    opacity: 1;
}
.playback-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
.playback-bar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-bar{
    width: 70%;
    appearance:inherit;
    border-radius: 100px;
    /* background-color: #232323;
    cursor: pointer;
    border-radius: 2rem;
    height: 0.2rem;
    /* line-height: 0.5rem; */
    /* margin-top: 0.5rem; */ 
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #d1cbcb;
    cursor: pointer;
    border-radius: 50%;
    height: 0.3rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: #1ed7d7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    /* cursor: pointer; */
    /* border-radius: 50%; */
    margin-top: -6px;
    /* height: 0.3rem; */

}
.mp-controls{
    width: 25%;
    display: flex;
    justify-content: right;
    margin-right: 2rem;
}
.mp-controls i{
    margin-right: 1.25rem;
    opacity: 0.75;
    
}
.mp-controls i:hover{
    opacity: 1;
}
.volume-bar{
    display: flex;
    justify-content:left
}
.music-player{
    background-color: rgb(92, 5, 5);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#AAAA{
    padding: 0;
}
.volume-icon{
    
        height: 1.5rem;
        margin-right: 0.2rem;
        opacity: 1;
    
}

.menu_icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 30px;
}
.menu_icon div{
    width: 8px;
    height: 10px;
    background: #faf8f8;
    border-radius: 50%;
    margin: 3px 0;
    transition: 0.3s;
    padding-right: 2px;
}
#menu{
    display: none;
    position: absolute;
    top: 1px;
    right: 1px;
    background: white;
    border: 2px solid #ddd;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1000;
    height: 300px;
    width: 250px;
}
.close-icon{
    font-size: 18px;
    cursor: pointer;
    text-align: right;
    padding: 5px;
    background-color: #500808;
}

#menu ul{
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
#menu ul li{
    margin: 10px 0;
}
#menu ul li a {
    text-decoration:none;
    color: #0c0c0c;
}
#menu ul li a:hover{
    text-decoration: underline;
}
#MN{
    width: 100%;
    height: 30px;
    background-color: #500808;
    

}
#TT{
    text-align: center;
}
.home{
    padding: none;
}

@media (max-width:600px){
    .artist img{
        width: 100px;
        height: 100px;
    }
    .artist {
    
        color: #e6e6e6ce;
        width: 150px;
        grid-template-rows: min-content;
        gap: var(--size-2);
        padding: var(--size-3);
        background: var(--surface-2);
        border-radius: var(--radius-2) ;
        box-shadow: var(--shadow-5);
    }
    section{
        padding-left: 50px;
    }
    .media-scroller{
        width: 80%;
        --spacer: 1rem; 
        display: grid;
        gap: var(--spacer);
        grid-auto-flow: column;
        grid-auto-columns: 38%;
    padding: o var(--spacer) var(--spacer);
        overflow-x: auto;
        overscroll-behavior-inline: contain ;
        scrollbar-width: 0.1;
        
    
    }
    

.song img{
    width: 80px;
    height: 80px;
}
.song {

    color: #e6e6e6ce;
    width: 150px;
    grid-template-rows: min-content;
    gap: var(--size-2);
    padding: var(--size-3);
    background: var(--surface-2);
    border-radius: var(--radius-2) ;
    box-shadow: var(--shadow-5);
}
h3{
    font-size: 0.8em;
    font-weight: 700;
    margin: 1em 0;
}
.mp-p1-title{
    font-size: 0.8em;
}
.mp-p1-artist{
    font-size: 0.5em;
}
#ABC{
    height: 0;
}
#SSS{
    display: none;
}
.playback-icons{
    padding-left: 50px;
}
.mp-p1-song{
    font-size: 0.6em;
}
.mp-p1-singer{
    font-size: 0.3em;
}
.mp-p1{
    width: 45%;
    display: flex;
    margin-left: 1rem;
}
.mp-p1-img{
    height: 30px;
    width: 30px;
    padding-top: 1.5rem;
    transition: 0.3s;
}
.progress-bar{
    width: 100%;
    appearance:inherit;
    border-radius: 100px;
    /* background-color: #232323;
    cursor: pointer;
    border-radius: 2rem;
    height: 0.2rem;
    /* line-height: 0.5rem; */
    /* margin-top: 0.5rem; */ 
}
.progress-bar::-webkit-slider-runnable-track{
    background-color: #c4bbbb;
    cursor: pointer;
    border-radius: 50%;
    height: 0.3rem;
}
.progress-bar::-webkit-slider-thumb{
    appearance: none;
    background-color: #087070;
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    /* cursor: pointer; */
    /* border-radius: 50%; */
    margin-top: -3px;
    /* height: 0.3rem; */

}
.playback-icons{
    margin-left:2.5rem;
}
pre{
    text-align: left;
    font-size: 4px;
}
}
#GAAN{
    background-color: #500808;
}
pre{
    text-align: center ;
    font-size: 20px;
}
.close-icon-1{
    font-size: 18px;
    cursor: pointer;
    text-align: right;
    padding: 15px;
    background-color: #500808;
}
#pp{
    text-align: center;
}
.artist-1 {
    display: inline-block;
    margin: 1em;
    text-align: center;
    color: #e6e6e6ce;
}

.artist-1 img {
    width: 180px;
    height: 180px;
}
